<!-- Header nav bar with brand and page links -->

<nav class="nav-bar">
  <div class="wrapper">
    <div class="logo">
      <a class="nav-brand" href="/">#FilipMaslovaric</a>
    </div>
    <ul class="nav-linkbar">
      <li>
        <a class="nav-link <%= active_class('/') %>" href="/">Home</a>
      </li>
      <li>
        <a class="nav-link <%= active_class('/pages/about') %>" href="/pages/about">About</a>
      </li>
      <li>
        <a class="nav-link <%= active_class('/pages/contacts') %>" href="/pages/contacts">Contacts</a>
      </li>
      <li>
        <a class="nav-link <%= active_class('/pages/projects') %>" href="/pages/projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>
