<% set_meta_tags title: "About me",
                 description: "About the site creator.",
                 keywords: "About, Filip Maslovaric, Portfolio" %>

<div class="hero page-cover--about">
  <div id="ie-bg" class="hero">
    <div class="container flexbox">
      <h2 class="main-heading">About me</h2>
    </div>
    <div class="hero">
      <div class="container flexbox">
      <img class="about-pic" src="https://i.imgur.com/HPCeb3u.jpg" height="50%" width="auto">
      </div>
      <div class="container flexbox">
      <h2 class="main-heading">Present</h2>
      <p class="main-p">Currently studying a Diploma of Information Technology at the <a href="https://coderacademy.edu.au/">Coder Academy</a> coding bootcamp in Brisbane, Australia, with the goal of becoming a Full-Stack Web Developer.<br><br>Spending way more time coding than I ever did studying law, and loving it.</p>
    </div>
    </div>
    <div class="hero">
      <div class="container flexbox">
        <img class="about-pic" src="https://i.imgur.com/TJOf2U9.jpg" height="50%" width="auto">
      </div>
      <div class="container flexbox">
      <h2 class="main-heading">Future</h2>
      <p class="main-p">After finishing my Diploma at the bootcamp, I plan on digging into the IT industry as a web dev to get as much hands on experience in real world projects as I can muster.<br><br> My longer term goal would be to potentially head back to university and puruse study in a Engineering (Software and Computer Systems) and Computer Science double-degree. It would be interesting to work on something that relates to my law degree as well as coding, as information technology is breaking barriers to legal help and empowering lawyers to deliver better and faster advice more each day.<br><br>My dream job would be working at companies like <a href="https://www.festo.com/cms/en-au_au/index.htm">FESTO</a> or <a href="https://www.bostondynamics.com/">Boston Dynamics</a>, bridging the gap between the biological and mechanical. One line of code at a time.</p>
    </div>
    </div>
    <div class="hero">
      <div class="container flexbox">
        <img class="about-pic" src="http://i.imgur.com/e2S7cvX.jpg" height="auto" width="50%">
      </div>
      <div class="container flexbox">
      <h2 class="main-heading">Past</h2>
      <p class="main-p">Come, stay awhile, and listen...<br><br>I was born in Belgrade, Serbia; raised in Rome, Italy; schooled across the globe in South and North America; graduated in Brisbane, Australia and settled there.<br><br>I grew up thinking that law would be my passion but in the end science and technology kept me breathless.<br><br>While I still enjoyed studying law, I feel that I can help more people and make a bigger impact through technology.</p>
    </div>
    </div>
    <div class="hero">
      <h2 class="main-heading">Trivia</h2>
      <div class="container flexbox">
      <p class="main-p">-Has two guinea pig pets: Misha and Oliver (They are on the Home page!).<br><br>-Loves Italian deep fried rice balls, AKA Suppli<br><br>-Favourite color: purple<br><br>-When asked what will you be when you grow up, answered: Prime Minister<br><br>-Fears but admires spiders<br><br>-Loves Corvids (Crows/Ravens)<br><br>-Hates taking pictures of himself</p>
    </div>
    </div>
  </div>
</div>
