<div class="hero page-cover--contacts">
  <div id="ie-bg" class="hero">
    <div class="grid">
      <h2 class="main-heading grid-heading">Stay awhile and listen...
      </dov>
    </div>
  </div>

  <!-- Hero unit picture -->

  <!-- Personal blurb -->

  <!-- Timeline -->
