<div class="hero page-cover--contacts">
<div class="grid">
  <h2 class="main-heading grid-heading">Stay awhile and listen...
</div>
</div>

<!-- Hero unit picture -->

<!-- Personal blurb -->

<!-- Timeline -->
