<div class="jumbotron d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1">Contacts</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row d-flex align-items-center">
    <div class="col">
      <a class="btn" href="https://github.com/FilipMaslovaric"><i class="fa fa-github fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class="col">
      <a class="btn" href="https://twitter.com/filipmaslovaric"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class="col">
      <a class="btn" href="https://www.linkedin.com/in/filipmaslovaric/"><i class="fa fa-linkedin fa-5x" aria-hidden="true"></i></a>
    </div>
    <div class="col">
      <a class="btn" href="mailto:filip.maslovaric@gmail.com"><i class="fa fa-envelope fa-5x" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
