<!-- Responsive Logo -->
<main class="hero page-cover--home">
  <div id="ie-bg" class="hero">
    <div class="container main-logo">
      <img alt="Main Logo" src="/assets/logo.svg" />
    </div>
    <h2 class="main-heading">Filip Maslovaric</h2>
    <h4 class="main-subheading">Full-Stack Web Dev student</h4>
  </div>
</main>
