<% set_meta_tags title: "Projects",
                 description: "Portfolio projects page.",
                 keywords: "Home, Projects, Filip Maslovaric, Portfolio" %>

<div class="hero page-cover--about">
  <div id="ie-bg" class="hero">
    <div class="container flexbox">
      <h2 class="main-heading">Project Portfolio</h2>
    </div>
    <div class="hero">
      <div class="container flexbox">
        <h2 class="main-heading">MathPrac</h2>
        <h4 class="main-subheading">Ruby CLI math problem generator</h4>
        <p class="main-p">A basic arithmetic math exercise program, written in Ruby, that runs from your command line interface (Terminal or Command Prompt). You can do as many addition, subtraction, multiplication, even division math problems. Shows the user the correct answer when they give the wrong answer.
          <a href="https://github.com/FilipMaslovaric/MathPrac">MathPrac on GitHub.</a>
        </p>
      </div>
    </div>
    <div class="hero">
      <div class="container flexbox">
        <h2 class="main-heading">Rubycron</h2>
        <h4 class="main-subheading">Previously known as Rubydoro Timer</h4>
        <p class="main-p">Part of the first project at Coder Academy, this little program is a basic work timer, set to go off every 25 and 5 minutes, alerting the user when to take a break and when to resume work with various graphical and audio prompts whilst keeping the screen clean and disctration free during work.
          <a href="https://github.com/ChristopherMaierInc/Rubydoro_Timer">Rubycron on GitHub.</a>
        </p>
      </div>
    </div>
    <div class="hero">
      <div class="container flexbox">
        <h2 class="main-heading">cock-tails</h2>
        <h4 class="main-subheading">A joint ruby project</h4>
        <p class="main-p">This one's a fun side-project with classmates from Coder Academy. The idea is to make a Ruby CLI program that stores cocktail recipes, asks users for ingredients, and then matches entered ingredients (which are validated) before returning what recipes can be made with what is on hand. A work in progress (is anything ever out of beta?).
          <a href="https://github.com/prfraser/cock-tails">cock-tails on GitHub.</a>
        </p>
      </div>
    </div>
    <div class="hero">
      <div class="container flexbox">
        <h2 class="main-heading">filipmaslovaric.github.io</h2>
        <h4 class="main-subheading">A HTML+CSS exercise website</h4>
        <p class="main-p">This is, for now, just a front-end development playground that I use. It will mostly be messy and unsightly. Ye be ware.
          <a href="https://github.com/FilipMaslovaric/filipmaslovaric.github.io">filipmaslovaric.github.io on GitHub.</a>
        </p>
      </div>
    </div>
  </div>
  <h1 class="main-heading">More are coming...</h1>
</div>
