<div class="hero page-cover--error">
  <div id="ie-bg" class="hero">
    <h1 class="main-heading color-primary-0">500</h1>
    <h2 class="main-subheading color-primary-0">Internal Server Error</h2>
    <h4 class="main-subheading">Something went wrong on the website.</h4>
    <h4 class="main-subheading">Your request couldn't be completed. This error has been logged and will be addressed. Apologies for the inconvenience.</h4>
  </div>
</div>
