<div class="container">
  <div class="jumbotron-fluid ">
    <h1 class="display-1  text-danger text-center">500</h1>
    <p class="lead text-center">Internal Server Error</p>
    <hr class="my-4">
    <p>Something went wrong on the website. Your request couldn't be completed.</p>

  </div>
</div>
