<div class="hero page-cover--error">
  <div id="ie-bg" class="hero">
    <h1 class="main-heading color-primary-0">404</h1>
    <h2 class="main-subheading color-primary-0">Not Found</h2>
    <h4 class="main-subheading">The page you are looking for doesn't exist.</h4>
    <h4 class="main-subheading">Please use one of the links from the navigation bar or the back button on your browser to return to the previous page.</h4>
  </div>
</div>
