<div class="container">
  <div class="jumbotron-fluid ">
    <h1 class="display-1  text-danger text-center">404</h1>
    <p class="lead text-center">Not Found</p>
    <hr class="my-4">
    <p>The page you are looking for doesn't exist. Please use one of the links from the navigation bar or back in your browser.</p>

  </div>
</div>
